@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600&display=swap");

:root {
  --header-height: 3rem;

  --hue-color: 237;

  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-secondary: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff ;


  --body-font: 'Poppins', sans-serif;
}

#particles-js {
  height: 100vh !important;
  width: 100% !important;
  position: fixed;
  z-index: -1;
}

.container {
  z-index: 99;
  opacity: 0.85;
  position: relative;
}
